body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.libros-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.libro {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.libro img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.libro h3 {
    font-size: 18px;
    margin: 10px 0;
}

.libro p {
    color: #555;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}
